body {
    background-color: #f8f9fa;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.navbar-brand {
    font-size: 1.4rem;
    font-weight: bold;
}

.navbar .form-control {
    max-width: 700px;
}

.navbar .btn-link {
    font-weight: 500;
    text-decoration: none;
}

/* Hero */
.hero {
    margin-top: -20px;
    border-radius: 20px;
    overflow: hidden; 
}

.hero-img {
    height: 500px;
    object-fit: cover;

}

.hero-content {
    bottom: 22%;
    left: 10%;
    right: auto;
    text-align: left;
    max-width: 400px;
}

    .hero-content h1 {
        font-size: 56px;
        font-weight: 700;
    }

    .hero-content p {
        font-size: 20px;
        margin: 20px 0;
    }

.hero .btn {
    padding: 12px 32px;
    border-radius: 30px;
}

.carousel-item {
    transition: transform .8s ease-in-out;
}

/* Search */
.search-box {
    margin-top: 10px;
    position: relative;
    z-index: 10;
}

.search-card {
    border-radius: 20px;
    background: #fff;
}

    .search-card h1 {
        font-size: 42px;
        font-weight: 700;
    }

    .search-card p {
        font-size: 18px;
        color: #6c757d;
    }

    .search-card .form-control,
    .search-card .form-select {
        height: 55px;
        border-radius: 10px;
    }

    .search-card .btn {
        height: 55px;
        border-radius: 10px;
        font-weight: 600;
    }
/* Card */
.card {
    border: none;
    border-radius: 10px;
}

.card-body {
    padding: 2rem;
}

/* Event */
.event-card {
    transition: .3s;
    overflow: hidden;
}

    .event-card:hover {
        transform: translateY(-6px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .12);
    }

    .event-card img {
        height: 220px;
        object-fit: cover;
    }

    .event-card h5 {
        font-weight: 600;
    }

    .event-card .text-primary {
        font-weight: bold;
    }

/* Button */
.btn {
    border-radius: 6px;
}

/* Category */
.category-item {
    background: white;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
    cursor: pointer;
}

    .category-item:hover {
        background: #0d6efd;
        color: white;
        transform: translateY(-4px);
    }

/* Section */
section {
    margin-bottom: 60px;
}

h2 {
    font-weight: bold;
    margin-bottom: 25px;
}

/* Footer */
footer {
    background: #212529;
    color: white;
    padding: 40px 0;
    margin-top: 60px;
}

    footer a {
        color: #ffffff;
        text-decoration: none;
    }

        footer a:hover {
            color: #0d6efd;
        }

/* category-item index.html*/
.category-item {
    background: #fff;
    border-radius: 10px;
    padding: 25px 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
    transition: .3s;
    cursor: pointer;
}

    .category-item i {
        transition: .3s;
    }

    .category-item:hover {
        transform: translateY(-8px);
        box-shadow: 0 10px 25px rgba(0,0,0,.15);
    }

        .category-item:hover i {
            transform: scale(1.15);
        }

    .category-item h6 {
        margin-top: 10px;
        font-weight: 600;
    }

/*trang thanh toan*/
body {
    background: #f6f8fb;
}

/* ===========================
        STEP
=========================== */

.checkout-step {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-number {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #dee2e6;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    transition: .3s;
}

.step span {
    margin-top: 10px;
    font-weight: 600;
    color: #777;
}

.step.active .step-number {
    background: var(--bs-primary);
    color: white;
}

.step.active span {
    color: #000;
}

.step-line {
    width: 120px;
    height: 2px;
    background: #dee2e6;
    margin: 0 15px;
}


/* ===========================
        CARD
=========================== */

.checkout-card {
    border: none;
    border-radius: 20px;
    box-shadow: 0 12px 35px rgba(0,0,0,.08);
}

.ticket-summary {
    position: sticky;
    top: 20px;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 12px 35px rgba(0,0,0,.08);
}

    .ticket-summary img {
        height: 230px;
        object-fit: cover;
    }

    .ticket-summary .card-body {
        padding: 25px;
    }


/* ===========================
        FORM
=========================== */

.form-control,
.form-select {
    border-radius: 12px;
    min-height: 50px;
}

    .form-control:focus,
    .form-select:focus {
        box-shadow: none;
        border-color: var(--bs-primary);
    }


/* ===========================
    DELIVERY OPTION
=========================== */

.delivery-option {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    border: 2px solid #eee;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: .25s;
}

    .delivery-option:hover {
        border-color: var(--bs-primary);
    }

    .delivery-option.active {
        border-color: var(--bs-primary);
        background: #f5f9ff;
    }

    .delivery-option input {
        margin-top: 6px;
    }

    .delivery-option h6 {
        margin-bottom: 5px;
    }


/* ===========================
      PAYMENT
=========================== */

.payment-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    border: 2px solid #ececec;
    border-radius: 18px;
    padding: 22px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .3s;
}

    .payment-item:hover {
        border-color: var(--bs-primary);
        transform: translateY(-3px);
    }

    .payment-item.active {
        border-color: var(--bs-primary);
        background: #f5f9ff;
    }

    .payment-item i {
        color: var(--bs-primary);
    }

    .payment-item h5 {
        margin-bottom: 8px;
    }

    .payment-item input {
        margin-top: 8px;
    }


/* ===========================
        BUTTON
=========================== */

.btn {
    border-radius: 12px;
}

.btn-primary {
    padding: 12px 28px;
}


/* ===========================
        QR
=========================== */

.qr-placeholder {
    width: 270px;
    height: 270px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    border: 2px dashed #bbb;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    color: #999;
    background: white;
}


/* ===========================
        BADGE
=========================== */

.badge {
    border-radius: 8px;
}


/* ===========================
      SUMMARY
=========================== */

.ticket-summary hr {
    margin: 20px 0;
}

.ticket-summary h4 {
    font-weight: 700;
}


/* ===========================
      MOBILE
=========================== */

@media(max-width:992px) {

    .ticket-summary {
        position: static;
        margin-top: 30px;
    }

    .checkout-step {
        flex-wrap: wrap;
    }

    .step-line {
        width: 60px;
    }
}

@media(max-width:768px) {

    .checkout-step {
        display: none;
    }

    .checkout-card .card-body {
        padding: 25px;
    }

    .qr-placeholder {
        width: 220px;
        height: 220px;
    }
}
